<div class="container">
    <h3>Sobre este site</h3>
    <p>Este site foi desenvolvido por <a href="javascript:void(0)" routerLink="/contact">Gabriel Taets</a>
        para a disciplina "Desenvolvimento de Sistemas Web (COM222)", ministrado pelo
        professor Laércio Baldochi, do Instituto de Matemática e Computação da Universidade
        Federal de Itajubá (Unifei).
    </p>
    <p> O front-end foi desenvolvido em <strong>Angular 7</strong>.</p>
    Pacotes auxiliares:
    <ul>
        <li><strong>ngx-cookie</strong>: Para utiliazação de <i>cookies</i> no client.</li>
        <li><strong>angular2-toaster</strong>: Para utilização de <i>toasters</i> contextuais.</li>
    </ul>
    <br/>
    <p>O back-end foi desenvolvido em <strong>Node.js v10.2.1</strong>.</p>
    Pacotes auxiliares:
    <ul>
        <li><strong>Express</strong>: Para fazer o roteamento das requisições HTTP.</li>
        <li><strong>body-parser</strong>: Para <i>parsear</i> o corpo das requisições POST.</li>
        <li><strong>cors</strong>: Para habilitar Cross-Origin Resource-Sharing.</li>
        <li><strong>moment</strong>: Para formatar datas.</li>
        <li><strong>await-to-js</strong>: <i>syntatic sugar</i> para blocos <i>async/await</i></li>
        <li><strong>mysql2</strong>: Driver do banco de dados MySQL.</li>
        <li><strong>sequelize</strong>: ORM para SGBD MySQL</li>
    </ul>
</div>
