<div class="container-fluid bg-secondary text-light">
    <div class="row">
        <div class="col-3 col-sm-4"></div>
        <div class="col-3 col-sm-2">
            <div class="entry" routerLinkActive="active">
                <a class="text-light" href="javascript:void(0);" routerLink="about">Sobre</a>
            </div>
        </div>
        <div class="col-3 col-sm-2">
            <div class="entry" routerLinkActive="active">
                <a class="text-light" href="javascript:void(0);" routerLink="contact">Contato</a>
            </div>
        </div>
        <div class="col-3 col-sm-4"></div>
    </div>
</div>
