<div class="container-fluid text-center">
    <div class="content">
        <div>
            <img class="rounded-circle" src="assets/eu.jpg"/>
            <h3>Gabriel Augusto Alves Taets</h3>
            <br/>
            <p>Aluno de Ciência da Computação na Universidade Federal de Itajubá</p>
            <p>Email: <a href="mailto:gabrieltaets@gmail.com">gabrieltaets@gmail.com</a></p>
            <p><span class="align-top">GitHub: </span><a class="github-button" href="https://github.com/gabrieltaets" data-size="large">Follow @gabrieltaets</a></p>
        </div>
    </div>
</div>
